.navbar{
    background-image: url(/public/banner1.png);
    height: 20rem;
    width: 100%;
    border-bottom-left-radius: 100px;
    /* border-bottom-right-radius: 100px; */
}
.navlinks{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1% 7%;
    gap: 2rem;
}
.navlinks ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    gap: 5rem;
}
.navlinks a{
    cursor: pointer;
    text-decoration: none;
    text-transform: uppercase;
    color: rgb(194, 5, 5);
}
.navbar .content{
    display: flex;
    /* justify-content: space-around; */
    gap: 4rem;
    padding: 0 8%;
}
.navbar .content div{
    display: flex;
    flex-direction: column;
    font-size: 1.4rem;
}
.navbar .content span{
    color: brown;
}
.navbar .content img{
    height: 15rem;
    width: 15rem;
}
.log{
    display: flex;
    justify-content: space-between;
}
.log span{
    font-size: 1.8rem;
    font-weight: 500;
    padding: 2%;
    word-wrap: normal;
    color: rgb(24, 23, 23);
    cursor: pointer;
    background-color: rgb(177, 167, 167);
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 0 0;
    border-radius: 5px;
}
.forms form button:hover{
    background-color: orange;
    border: none;
    border-radius: 2px;
    /* color: whitesmoke; */
}
.logout button:hover{
    background-color: orange;
    border: none;
    border-radius: 2px;
}
@media (max-width:760px){
    .navbar .content img{
        display: none;
    }
    .navlinks ul{
        gap: 0.7rem;
        flex: 1 0 0;
    }
    .forms{
        max-width: 15rem;
    }
}